<launch>
  <include file="$(find z1_arm_gazebo)/launch/z1_arm_world.launch"/>
  <rosparam file="$(find z1_config)/config/trajectory_control.yaml" command="load"/>
  <node name="z1_arm_state_spawner" pkg="controller_manager" type="spawner" respawn="false"
  output="screen" ns="/z1_arm" args="joint_state_controller arm_controller"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
  respawn="false" output="screen">
    <remap from="/joint_states" to="/z1_arm/joint_states" />
  </node>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <remap from="joint_states" to="/z1_arm/joint_states" />
  <include file="$(find z1_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="false"/>
  </include>
  <include file="$(find z1_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>
  <include file="$(find z1_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find z1_config)/launch/moveit.rviz"/>
  </include>
</launch>